.table_dark {
    font-family: "Times New Roman", sans-serif;
    width: 100%;
    color: #000000;
    font-size: 50px;
    text-align: center;
    border-collapse: separate;
    background: #EAD1DC;
    margin: auto;
}
.table_dark th {
    color: #000000;
    border-bottom: 2px solid #000000;
    padding: 10px 15px;
    font-size: 14px;
    text-align: left;
}
.table_dark td {
    color: #7C5FAB;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    padding: 10px 15px;
    font-size: 14px;
    text-align: left;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}
